@import "../../responsive.scss";

.profilePage {
  height: 100%;
  display: flex;

  @include md {
    flex-direction: column;
    overflow-y: scroll;
  }

  .details {
    flex: 3;
    overflow-y: scroll;
    scrollbar-width: 1px;
    scrollbar-color: #88888815 transparent;
    padding-bottom: 40px;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-right: 10px;
      // height: 100%;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px;
        h1 {
          font-size: 24px;
          font-weight: 300;
        }
        // margin: 10px 0px;
        button {
          border: none;
          padding: 8px 16px;
          // color: #fff;
          background-color: #fece51;
          border-radius: 2px;
          cursor: pointer;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;

        span {
          display: flex;
          align-items: center;
          gap: 16px;
        }

        img {
          height: 32px;
          width: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        button {
          width: 100px;
          background-color: teal;
          border: none;
          color: white;
          padding: 10px 20px;
          cursor: pointer;
          border-radius: 2px;
        }
      }
    }
  }

  .chatContainer {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;
    // overflow: scroll;

    @include md {
      flex: none;
      height: max-content;
      margin-bottom: 10px;
    }

    .wrapper {
      padding: 0px 20px;
      height: 100%;
    }
  }
}
