.react-toggle {
  width: 60px;
  height: 30px;
  border-radius: 30px;
  margin-right: 12px;
  position: relative; // Make sure positioning is relative

  padding: 5px;

  &-track {
    background-color: #ccc; // Light mode background
    border-radius: 30px;
    position: absolute; // Absolute positioning for track
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
  
    // Dark mode track color
    .react-toggle--checked & {
      background-color: #333;
    }

    // Custom icons within the toggle
    &-check,
    &-x {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 1px;
      position: absolute; // Absolute positioning for icons
      top: 40%;
      transform: translateY(-50%);
      transition: color 0.3s;
    }

    &-check {
      left: 10px; // Position check icon
    }

    &-x {
      right: 10px; // Position x icon
    }
  }

  &-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff; // Default thumb color
    transition: background-color 0.3s, transform 0.3s; // Add transform transition
    position: absolute; // Absolute positioning for thumb
    top: 50%;
    transform: translateY(-50%); // Center vertically
    left: 6px; // Default thumb position

    // Thumb color when checked (dark mode)
    .react-toggle--checked & {
      background-color: #000;
      left: calc(100% - 30px); // Move thumb to the right
    }
  }
}

// Additional styles for dark mode
body.dark {
  .react-toggle-track {
    background-color: #4e4e4e;
  }

  .react-toggle-thumb {
    background-color: #000;
  }
}
