@import "../../responsive.scss";

.listPage {
  display: flex;
  // background-color: #fcf5f3;
  height: 100%;
  // width: 100%;

  .listContainer {
    flex: 3;
    height: 100%;

    .wrapper {
      height: 100%;
      padding-right: 40px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
      scrollbar-width: none;
      padding-bottom: 50px;
    }
  }

  .mapContainer {
    flex: 2;
    height: 100%;
    background-color: #fcf5f3;
    @include md {
      display: none;
    }
  }
}

body.dark {
  .listPage {
    .listContainer .wrapper {
      background-color: transparent; // Dark mode background color for listContainer
      color: #e0e0e0; // Dark mode text color
      scrollbar-color: #555 #333; // Dark mode scrollbar colors

      @include md {
        padding-right: 10px; // Adjust padding for smaller devices
      }
    }

    .mapContainer {
      background-color: #333; // Dark mode background color for mapContainer
    }
  }
}
